<p>
<%= link_to root_path do %>
  トップ
<% end %>
</p>

<p>
<%= link_to about_path do %>
  アバウト
<% end %>
</p>

<p>
<%= link_to customers_my_page_path do %>
  マイページ
<% end %>
</p>

<p>
<%= link_to destroy_customer_session_path, method: :delete do %>
  ログアウト
<% end %>
</p>
