<p>
<%= link_to admin_items_path do %>
  商品一覧
<% end %>
</p>

<p>
<%= link_to admin_customers_path do %>
  会員一覧
<% end %>
</p>

<p>
<%= link_to admin_genres_path do %>
  ジャンル一覧
<% end %>
</p>

<p>
<%= link_to destroy_admin_session_path, method: :delete do %>
  管理者ログアウト
<% end %>
</p>